{# templates/author/add.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Ajouter un Auteur{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel auteur</h1>

    {{ form_start(formulaire) }}
        {{ form_row(formulaire.username) }}
        {{ form_row(formulaire.email) }}
        {{ form_row(formulaire.save) }}
    {{ form_end(formulaire) }}

    <a href="{{ path('showAll') }}" class="btn btn-secondary mt-3">
        Retour à la liste
    </a>
{% endblock %}