{% extends 'base.html.twig' %}

{% block title %}Liste des Auteurs{% endblock %}

{% block body %}
    <h1>Liste des Auteurs</h1>

    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>ID</th>
                <th>Photo</th>
                <th>Nom</th>
                <th>Email</th>
                <th>Nombre de livres</th>
            </tr>
        </thead>
        <tbody>
            {% for author in authors %}
                <tr>
                    <td>{{ author.id }}</td>
                    <td>
                        <img src="{{ author.picture }}" alt="{{ author.username }}" width="100">
                    </td>
                    <td>{{ author.username }}</td>
                    <td>{{ author.email }}</td>
                    <td>{{ author.nb_books }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
